extends layout

block content
  h1= title
  p Welcome to #{title}

  
  
  //- each r in Students

  //-   p= r.id + "|" + r.name + "|" + r.date_of_birth + "|" + r.admin_date + "|" + r.grad_date + "|" + r.major + "|" + r.address + "|" + r.phone_num 
    
  //-   br
